@media only screen and (max-width: 1000px){
	body{
		min-width: 310px;
	}
	nav.bac1{
	background:none;
	position:fixed;
	}
	.open{
		background: url('../img/menu.png');
		display: block;
		width: 24px;
		height: 21px;
	}

	#mobile_nav {
		display: none;
	}


	/* accordion styles */
	ul ul,
	ul ul ul{
	
	}

}

/* Smartphones (portrait and landscape) ----------- */  
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {  
  
}  
  
/* Smartphones (landscape) ----------- */  
@media only screen and (min-width : 321px) {  

}  
  
/* Smartphones (portrait) ----------- */  
@media only screen and (max-width : 320px) {  

}  
  
/* iPads (portrait and landscape) ----------- */  
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {  

}

/* hide for mobile style */
@media only screen and (max-width:1090px){
	.no-mobile{
		display: none;
	}
}

/* Laptops and desktops */
<<<<<<< HEAD
<<<<<<< HEAD
@media only screen and (min-width: 1024px){
=======
@media only screen and (min-device-width: 1024px){

>>>>>>> origin/master
=======
@media only screen and (min-device-width: 1024px){
>>>>>>> parent of ba7b76b... content and css changes
	header,
	nav,
	main,
	footer{
		width: 960px;
		margin: 0 auto;
	}

	/* CSS switch buttons styling*/
	#css_SwitchHolder{
		background: rgba(6, 6, 6, 0.5);
		border: 1px solid;
		border-radius: 0 3px 3px 0;
	    left: 0;
	    position: fixed;
	    top: 100px;
	}

	#original,
	#projector{
		cursor: pointer;
	    height: 32px;
	    margin: 10px 15px;
	    width: 32px;
	}
/* DELETE IF NOT NEEDED */
	.no-desktop{
		display: none;
	}
	/*	Nav styles 	*/
	nav{
		background: none repeat scroll 0 0 red;
	    left: 275px;
	    position: relative;
	    top: -50px;
	    width: 397px;
	}

	nav .secondary{
		background:rgba(227, 227, 227, 0.85);
	    border-radius: 2px;
	    position: absolute;
	}
	nav .secondary li{
		padding: 5px 0;
	}

	nav .tertiary{

	}

	nav .tertiary li{
		border-top: 1px solid #cbcbcb;
	    display: block;
	    margin: 5px 0;
	}

	nav li{
		display: inline-block;
	}

	nav a{
		padding: 5px 25px;
	}

	/*	main styles	*/
	main{
		margin-top: -40px;
	}
}