/* Page slider styles */

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    
    /* Specify the width of your pageslide here */
    min-width: 10em;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #6A8DB2;
    color: #FFF;
	border:6px solid #1B3D60;
}