@media only screen and (max-width: 1000px){
	body{
		min-width: 310px;
	}
	nav.bac1{
	background:none;
	position:fixed;
	}
	.open{
		background: url('../img/menu.png');
		display: block;
		width: 24px;
		height: 21px;
	}

	#mobile_nav {
		display: none;
	}


	/* accordion styles */
	ul ul,
	ul ul ul{
	
	}

}

/* Page slider styles */

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    
    /* Specify the width of your pageslide here */
    min-width: 10em;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #6A8DB2;
    color: #FFF;
	border:6px solid #1B3D60;
}