/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles start here */
.breadcrumb, .no-desktop,
footer{
	display: none;
}

*{
	color: #000;
}

body{
	background: rgba(59, 96, 136, 0.56);
}

#wrapper_body{
	background: rgba(106, 141, 179, 0.6);
	width: 85%;
	margin: 0 auto;
}

h1, h2, h3{
	font-size: 2em;
	text-decoration: underline;
}

p{
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	margin: 25px 0 0;
}

/* CSS switch buttons styling*/
#css_SwitchHolder{
	background: rgba(6, 6, 6, 0.5);
	border: 1px solid;
	border-radius: 0 3px 3px 0;
    left: 0;
    position: fixed;
    top: 100px;
}

#original,
#projector{
	cursor: pointer;
    height: 32px;
    margin: 10px 15px;
    width: 32px;
}

/* Header styles */
header h1{
	font-size: 2.5em;
	padding: 20px 20px 5px;
	text-decoration: none;
}

header h2{
	font-size: 1.25em;
	padding: 0 40px;
	text-decoration: none;
}

/*	nav styles */
nav{
    left: 75%;
    position: relative;
    top: -50px;
    width: 397px;
}

nav .secondary{
	background:rgba(227, 227, 227, 0.85);
    border-radius: 2px;
    position: absolute;
}
nav .secondary li{
	padding: 5px 0;
}

nav .tertiary li{
	border-top: 1px solid #cbcbcb;
    display: block;
    margin: 5px 0;
}

nav li{
	display: inline-block;
}

nav a{
	padding: 5px 25px;
	color: #000;
}

/* main Styles */
main{
	padding: 20px;
}
