/*
	Author: derek moore
	Purpose: (!!!)
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
general settings
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
*{

}
body {

}
#wrapper_body{
width: 95%;
margin:5px auto;
}
ul{
padding:0;
}
ul ul{
padding:0 1em;
}
h1, h2, h3, h4, h5, h6{
font-family:"Ubuntu", sans-serif;
margin:0;
padding:0;
color: #1B3D60;
}
p, li, a, td, footer, span, th, table{
font-family:'Droid Serif', serif;
color: #1B3D60;
margin:0;
padding:0;
}
a:link{

}
a:visited{

}
a:hover{

}
a:active{

}
header, div.content, div.accent, div.breadcrumb, nav, main{
border-radius:10px;
}

/* temporary - comment out after use */
/* table, div {
border:1px solid black;
} */
/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
color settings
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.cac1{
color: #1B3D60;
}
.cac2{
color: #B4CDE8;
}
/* - - - - - - - - */
.bac1{
background-color: #6A8DB2;
}
.bac2{
background-color: #B4CDE8;
}
.bac3{
background-color: #3B6188;
}


/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
header
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	header {
	padding: 1em;
	margin: 0.5em 0;
	}
/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
nav
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	nav{
	
	}
	a.open{
	display:fixed;
	}
	div#pageslide ul li {
	list-style-type:none;
	}
/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
main
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	main{
	margin:0.5em 0;
	}
	main div.accent{
	padding: 1em;
	}
	main div div.content{
	min-height: 10em;
	padding:0.5em;
	}
	main div div.breadcrumb{
	
	}
	
	/* content block */
	div.contblock{
	  border: 1px solid #6A8DB2;
	  background-color: #6A8DB2;
	  border-radius: 5px;
	  padding: 0.5em;
	  }
	div.contblock h2{
	  margin: 0.5em;
	  }
/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
footer
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
	footer{
	text-align:center;
	}
	footer span#copyright{
	
	}

	/*form styles*/

	footer td{
		padding: 5px 10px;
    	text-align: right;
	}

	footer td input,
	footer textarea{
		float: left;
    	width: 100%;
	}

	footer button{
		width: 33%;
		margin: 0 auto
	}
/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
colour
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

